body {
	background: black;
}

h1 {
	width: 100%;
	margin: 0;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
    margin-top: 50px;
}

img {
	padding-right:10px;
}

.postcard-header {
	display: flex;
	padding-top:5px;
}

.postcard-body {
	display: flex;
	padding-top: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
}

.body-left {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

#body-left-top {
	margin-top: 0;
}

input {
	border: none;
	border-bottom: 1px gray solid;
}

.postcard-footer {
	text-align: center;
}

#postcard-button {
	padding: 10px;
	border-radius: 4px;
	background-color: gray;
	text-decoration: none;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
